.container {
    width: 640px;
    border-radius: 16px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #EEE;
    overflow: hidden;
}

.image {
    margin: 32px 0;
    border-radius: 50%;
    background-color: rgb(34, 25, 27);
}

.name {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: black;
}

.subname {
    margin: 8px 0 0 0;
    font-size: 48px;
    color: gray;
}

.statList {
    display: flex;
    margin: 24px 0 0 0;
    list-style: none;
    padding: 0;
    background-color: #CCC;
}

.statItem {
    padding: 16px;
    width: calc(100% /3);
    border-color: #aaa;
    border-style: solid;
    border-left: none;
    border-bottom: none;
    text-align: center;
}

.itemName {
    display: block;
    font-size: 32px;
}

.itemValue {
    display: block;
    font-size: 32px;
    font-weight: 700;
}